  <div class="media">
    <div class="media-body">
      <a href="/rooms/<%=room.id%>"><%=room.title%>(<%=room.messages.length%>)</a>
      <div class="content_created_at"><%=room.created_at.strftime("%Y/%m/%d %H:%M")%><i class="fas fa-cog"></i></div>
    </div>
  </div>
