<div class="room_index">
  <div class="media">
    <div class="media-body">
      <a href="/rooms/1">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42</div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="#">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42</div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="#">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42</div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="#">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42</div>
    </div>
  </div>
  <div class="media">
    <div class="media-body">
      <a href="#">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル(112)</a>
      <div class="content_created_at">2019年11月24日 18:42</div>
    </div>
  </div>
</div>
