<div class="room_show">
  <div class="title">
    <h3>タイトルタイトルタイトル</h3>
  </div>

  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
      >>2
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
      >>2
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="res_form">
    <div class="title">
      レスを投稿する
    </div>
    <div class="main-form">
      <div class="main-form__name">
        <input placeholder="名前(省略可能)"></input>
      </div>
      <div class="main-form__text">
        <textarea rows="6" placeholder="投稿内容"></textarea>
      </div>
      <button type="submit" class="btn btn-secondary">投稿する</button>
    </div>

  </div>
</div>
