<div class="room_show">
  <div class="title">
    <h3>タイトルタイトルタイトル</h3>
  </div>

  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
      >>2
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
      >>2
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
  <div class="main-content">
    <div class="main-content__title">
      <span class="num">420</span>
      <span class="name">名無しさん</span><span class="created_at">2019/11/24(日) 11:05:01.46</span><span
        class="ID">ID:MsjkQElo0</span>
    </div>
    <div class="main-content__resID">
    </div>
    <div class="main-content__text">
      テキストテキストテキストテキストテキスト
      <br>テキストテキストテキストテキストテキスト
      <br>テキストテキストテキスト
    </div>
  </div>
</div>
