// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//thread index style
.room_index {
  padding-left: 15vw;
  height: calc(100% - 70px);
  overflow: scroll;

  .media {

    margin-top: 4vh;

    .media-body {
      a {
        font-size: 18px;
      }

      .content_created_at {
        color: gray;
        font-size: 13px;
      }
    }
  }

  .res_form {
    margin-top: 50px;


    .main-form {
      width: 40vw;

      .main-form__name,
      .main-form__password {
        input {
          width: 100%;
          margin-top: 5px;
        }
      }

      .main-form__text {
        margin-top: 10px;

        textarea {
          width: 100%;
        }
      }
    }
  }
}

.room_show {
  background-color: #f5f5f5;
  padding: 20px 10px 20px 10px;
  height: calc(100% - 70px);
  overflow: scroll;

  .main-content {
    background-color: #dcdcdc;
    width: 60vw;


    margin: 8px 0px 8px 0px;
    padding: 5px;

    .main-content__resID {
      color: blue;
    }

    .main-content__title {
      span {
        margin-right: 5px;
        font-size: 14px;
      }

      .name {
        color: green;
        font-size: 15px;
      }
    }

    .main-content__text {
      width: 100%;
      word-break: break-all
    }
  }

  .res_form {
    margin-top: 50px;

    .main-form {
      width: 60vw;

      .main-form__name,
      .main-form__password {
        input {
          width: 100%;
          margin-top: 5px;
        }
      }

      .main-form__text {
        margin-top: 10px;

        textarea {
          width: 100%;
        }
      }
    }
  }
}