// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//thread index style
.room_index {
  .media {
    margin-left: 15vw;
    margin-top: 4vh;

    .media-body {
      a {
        font-size: 18px;
      }

      .content_created_at {
        color: gray;
        font-size: 13px;
      }
    }
  }
}

.room_show {
  background-color: #f5f5f5;
  padding: 20px 10px 20px 10px;
  height: calc(100% - 70px);

  .main-content {
    background-color: #dcdcdc;
    width: 60vw;

    margin: 8px 0px 8px 0px;
    padding: 5px;

    .main-content__title {
      span {
        margin-right: 5px;
        font-size: 14px;
      }

      .name {
        color: green;
        font-size: 15px;
      }
    }
  }
}